*{
    box-sizing: border-box;
}
body{
    font-size:20px;
    margin: 30px;
    background-image: linear-gradient(rgb(39, 38, 38),rgb(56, 58, 56));
    color: white;
}
label{
    font-size: 20px;
    display: block;
    margin-bottom: 7px;
    padding: 5px;
}
input[type=text], select, textarea {
    font-size: 15px;
    padding: 5px;
    width: 500px;
    border: 2px solid #bbb;
}
input:hover{
    background-color: #ddd;
    cursor: pointer;
}
.textarea{
    width: 300px;
    height: 100px;
    resize: none;
    font-size: 14px;
}
.idade{
    width: 50px;
    font-size: 15px;
    height: 25px;
}
.sexo label{
display: inline;
}
option{
    font-size: 15px;
}
button{
    width: 140px;
    height: 40px;
    border: 2px solid #ddd;
}
button:hover{
    background-color: #ccc;
    cursor: pointer;
}
