@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor0:#90fab5;
    --cor1:#034159;
    --cor2:#025951;
    --cor3:#02735E;
    --cor4:#038C3E;
    --cor5:#0CF25D;

    --font1: 'Bebas Neue', cursive;
    --font2: 'Nunito', sans-serif;
}
body{
    background-image:linear-gradient(to bottom, var(--cor3),var(--cor4)) ;
}
header{
    background-image:linear-gradient(to bottom, var(--cor3), var(--cor1));
    padding: 30px;
    text-align: center;
    min-height: 150px;
}
header h1{
    font-family: var(--font1);
    color:var(--cor5);
    font-size: 3em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.342);

}
header p{
    font-family: var(--font2);
    color:rgba(255, 255, 255, 0.651);
    text-align: center;
}
nav{
    background-color: #034159;
    padding-bottom: 20px;
    padding-left: 15px;
    text-align: right;
}
nav a{
    
    color: #0CF25D;
    padding:6px;
    padding-bottom: 5px;
    transition-duration: 0.4s;
}
nav a:hover{
    background-color: var(--cor5);
    color: var(--cor1);
    border-radius: 5px;

}
main{
    max-width: 900px;
    margin: auto;
    min-width: 300px;
    background-color: rgba(206, 206, 206, 0.842);
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.438);
}
main h3{
    padding: 5px;
    font-family: var(--font2);
    font-weight: bold;
}
main p{
    font-family: var(--font2);
    padding: 15px 0px;
    text-align: justify;
    text-indent: 1em;
    
}
main img{
    width: 100%;
}
section{

}
footer{
    background-color: black;
    font-family: var(--font2);
    color: white;
    text-align: center;
    padding: 15px;
}
a{
    text-decoration: none;
    font-weight: bold;
}
p{
    padding: 4px;
    text-align: justify;
}